img {
    border: solid;
    border-color: #000;
    background-color: white;
}

.header {
    display: flex;
    color: #ffff;
    background-color: #606060;
    justify-content: space-between;
    font-family: fantasy;
    font-size:30px;
}

.grid {
    background: darkred;
    background-color: #F0F8FF;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    text-align: left;
    flex-wrap: wrap;
  }

  .menu{
    display: flex;
    justify-content: start;
   
    padding: 15px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color: #000000;
  }

.item {
    border: 1px solid #0000;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 500px;
    padding: 50px;
    background-color: #800000;
    font-family:'Times New Roman', Times, serif;
}

body {
    background-image: url("images/bg.png");
    background-size: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-size: medium;
}

.intro {
    background-color: #800000;
    font-family: 'Times New Roman', Times, serif;
}

a:link{
    color: #ffff;
}

a:visited{
    color: #ffff;
}

image{
    display: flex;
    justify-content: center;
}
.img:hover{
    background-color: rgba(250, 10, 10, 0.349);
    color:  black;
  }
.origami:hover{
    transform: scale(1.2);
    
  }